<?xml version="1.0" encoding="utf-8" ?>
<hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
  <session-factory>
    
    <property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
    <property name="connection.connection_string">Server=FREDRIKS-DATOR;Database=HouseIt2;uid=Joanna;pwd=1234</property>
    <property name="dialect"> NHibernate.Dialect.MsSql2008Dialect </property>
    <property name="show_sql">true</property>
    <property name="current_session_context_class">NHibernate.Context.ThreadLocalSessionContext</property>
    <property name="cache.use_second_level_cache">false</property>
    <property name="hbm2ddl.auto">update</property>
    
    <mapping assembly="HouseIt"/>
  </session-factory>
</hibernate-configuration>